.NavBar {
    display: grid;
    background-color: white;
    width: 100%;
    grid-template-columns: auto 2fr 1fr;
    animation-name: show_navbar;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0ms;
}

@keyframes show_navbar {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.logo_titulo_navbar {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .titulo_navbar {
        width: 50%;
        font-size: 120%;
        font-weight: 800;
    }
}

.search_navbar {
    display: flex;
    justify-content: left;
    align-items: center;

    .fasearch_bg {
        background-color: rgb(226, 226, 226);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45%;
        width: 5%;
        margin-top: 2%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .fasearch {
        opacity: 50%;
    }
}

.write_search {
    display: flex;
    align-items: center;
    margin: 2% 0% 0% 0%;
    height: 45%;
    width: 70%;
    font-weight: 500;
    font-size: 110%; 
    background-color: rgb(226, 226, 226);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    p{
        animation-name: search_animation;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 0ms;
        animation-iteration-count: infinite;
        overflow: hidden;
        white-space: nowrap;
        color: rgb(111, 111, 111);
        display: inline;
        max-width: 70%;
    }
   
}

@keyframes search_animation {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}

.stick_move {
    display: inline;
    animation-name: stick_animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

@keyframes stick_animation {
    0% {
        opacity: 0;
    } 
    50% {
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.log_out_navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2%;
    margin-right: 5%;
}

.log_out_container {
    display: block;
    justify-items: center;
    align-content: center;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    font-weight: 500;
    cursor: pointer;
}

.modal_card_log_out {
    margin: auto;
    width: 25%;
    border-radius: 10px;
    border: 0px ridge black;
    background-color: rgb(214, 214, 214);
}

.modal_log_out {
    height: 100%;
    width: 100%;
    font-size: 120%;
    padding: 5%;
}

.modal_text_log_out {
    margin-bottom: 5%;
    font-weight: 500;
}

.modal_buttons_log_out {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    gap: 2%;
    button {
        width: 100%;
        border-radius: 5px;
        font-weight: 500;
        border: 2px solid gray;
        color: rgb(70, 70, 255);
    }
    button:hover {
        background-color: rgb(178, 178, 178);
    }
}

@media screen and (max-width: 800px) {
    .NavBar {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10%;
    }
    .logo_titulo_navbar{
        margin-left: 10%;
        .titulo_navbar{
            font-size: 70%;
        }
    }
    .search_navbar{
        width: 100%;
        .fasearch {
            font-size: 0%;
            width: 100%;
        }
    }
    .write_search {
        width: 100%;
        p {
            width: 100%;
            max-width: 100%;
        }
    }
    .log_out_container {
        img {
            width: 30px;
        }
        p {
            display: none;
        }
    }
}