.backgorund_task_edit{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.5);
    width: 100dvw;
    height: 100%;
    z-index: 30;
}

.card_edit {
    display: grid;
    grid-template-rows: auto auto 2fr 1fr 1fr;
    margin-top: 2%;
    height: 70dvh;
    width: auto;
    background-color: white;
    position: fixed;
    padding: 2%;
    border-radius: 20px;
    hr {
        background-color: black;
        border: 2px solid black;
        width: 100%;
    }
}

.edit_header {
    display: flex;
    justify-content: space-between;
    height: 6dvh;
    margin-bottom: 1%;
    button {
        height: auto; //LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
        cursor: pointer;
    }
}

.edit_title {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 200%;
    white-space: pre-wrap;
    box-sizing: border-box;
    h1 {
        font-weight: 600;
    }
    input {
        background-color: rgba(226, 226, 226, 1);
        border-radius: 10px;
        padding-left: 2%;
        width: 100%;
    }
}

.edit_description {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    h2 {
        font-size: 150%;
        font-weight: 600;
    }
    textarea {
        width: auto;
        padding: 1%;
        height: 21dvh;
        resize: none;
    }
}

.edit_date_and_priority {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    font-size: 130%;
    gap: 10%;
    label {
        display: block;
        width: 10dvw;
        margin-right: 0%;
        font-weight: 600;
    }

}

.edit_date {
    display: block;
    flex-wrap: wrap;
}

.edit_priority {
    display: block;
    grid-template-rows: auto auto;
    gap: 0%;
    width: 21dvw;
}

.edit_save_and_close {
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
    font-size: 120%;
    font-weight: 600;
}

.edit_button_close {
    text-align: center;
    background-color: red;
    padding: 0% 5% 0% 5%;
    border-radius: 5px;
    cursor: pointer;
    button {
        cursor: pointer;
    }
}

.edit_button_save {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 90, 255);
    padding: 0% 5% 0% 5%;
    border-radius: 5px;
    margin-left: 2%;
    cursor: pointer;
    button {
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    .card_edit {
        margin-top: 5%;
        width: 90dvw;
        height: 85dvh;
        max-width: 90dvw;
        overflow-x: auto;
    }
    .edit_header {
        input {
        }
    }
    .edit_title {
    }
}